This is login page.
<button ng-click="loginCtrl.setMode('login')">
Login mode button
</button>
<button ng-click="loginCtrl.setMode('signup')">
Signup mode button
</button>
<div ng-show="loginCtrl.loginMode">
    <form ng-submit="loginCtrl.saveItem()">
    <input ng-model="loginCtrl.loginItem.username" class="form-control" placeholder="username" ></input>
    <input ng-model="loginCtrl.loginItem.email" class="form-control" placeholder="email" ></input>
    <input ng-model="loginCtrl.loginItem.password" class="form-control" placeholder="password" ></input>
    <button 
            class="btn btn-default" 
            type="submit"
            ng-disabled="!loginCtrl.loginItem.username"
            >
                Login
            </button>
    </form>
</div>
<div ng-show="loginCtrl.signupMode">
    <form ng-submit="loginCtrl.signupItem()">
    <input ng-model="loginCtrl.signupItem.username" class="form-control" placeholder="username" ></input>
    <input ng-model="loginCtrl.signupItem.email" class="form-control" placeholder="email" ></input>
    <input ng-model="loginCtrl.signupItem.password1" class="form-control" placeholder="password" ></input>
    <input ng-model="loginCtrl.signupItem.password2" class="form-control" placeholder="password" ></input>
    <button 
            class="btn btn-default" 
            type="submit"
            ng-disabled="!loginCtrl.signupItem.username"
            >
                signup
            </button>
    </form>
</div>


