<div class="col-xs-3">
    <div class="panel panel-primary" ng-show ="!postsItemCtrl.editMode">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li>
                    <h3 class="panel-title">Created by: {{postsItemCtrl.post.user}}</h3>
                </li>
                <li>
                    <span class="badge pull-right">Category : {{postsItemCtrl.post.category}}</span>
                </li>
                <li>
                    <button class="btn btn-info"
                    ng-click="postsItemCtrl.setMode('edit')">
                        <i class="fa fa-pencil"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-danger "
                    ng-click="postsItemCtrl.deleteItem()">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            Text: {{postsItemCtrl.post.text}}
            Reference: {{postsItemCtrl.post.reference}}
        </div>
        <div class="panel-footer">
            Creadted date: {{postsItemCtrl.post.created_date | date}}
            Visible: {{postsItemCtrl.post.visible}}
        </div>
    </div>
    <posts-edit
            ng-show = "postsItemCtrl.editMode"
            post = "postsItemCtrl.itemToEdit"
            save="postsItemCtrl.editItem(editedItem)"
            cancel="postsItemCtrl.setMode('false')"/>
</div>
