/*.modal.in {
   display:block;
}

.modal-body{
    height: 250px;
    overflow : auto;
}*/
#django-login-section{
    margin-left: 30%;
    margin-right: 30%;
    width: 50%;
};
#homepage h2{
    font-size: 20px;
    font-family: cursive;
    padding: 5px;
}
img{
    width: 300px;
    height: 500px;
}
select{
    opacity: 1;
}
#collapseOne{
    max-height: 400px;
    overflow: scroll;
}


#postimg{
    width: 90%;
    height: 300px;
}
body{
    background-image:url(http://i0.wp.com/dpshots.com/images/bokeh_photography/bokeh_photography_glass.jpg?resize=540%2C345);
    /*background-image: url(http://blog.crowdsupply.com/content/images/2015/08/lights-night-unsharp-blured.jpg);*/
    background-repeat: repeat-y;
    background-size: 100%;
}
/*https://67.media.tumblr.com/d299de0264876129d18942ac24bd21f5/tumblr_npw7w7v0uI1uu62svo1_500.gif*/
#postsCategory-fonts{
    color: orange;
    text-align: center;
    font-size: 30px;
}
#postsCategory-fonts:hover{
    color: white;
    background: orange;
}

#post-panel-heading{
    height: 50px;
}
#post-panel-body{
    max-height: 190px;
}
#post-panel-footer{
    max-height: 100px;
    overflow: scroll;
}
